/* 
    Document   : fixed postranni menu
    Created on : 27.8.2013, 17:24:52
    Author     : http://www.w3.org/Style/Examples/007/menus
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}



#menu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(132, 193, 10, 0.7);
    border-color: rgba(132, 193, 10, 0.5) -moz-use-text-color rgba(132, 193, 10, 0.5) rgba(132, 193, 10, 0.5);
    border-image: none;
    border-radius: 3em 0.5em 0.5em 3em;
    border-style: solid none solid solid;
    border-width: medium;
    box-shadow: 0 1px 3px black;
    color: #FFFFFF;
    font-size: large;
    font-weight: bold;
    margin: -2.5em 0 0;
    padding: 0.5em 0.5em 0.5em 2.5em;
    position: fixed;
    right: 0;
    text-align: left;
    top: 50%;
    width: 8em;
    z-index: 5;
}
#menu li {
    margin: 0;
}
#menu a {
    color: inherit;
}
#menu {
    position: absolute;
}
* > #menu {
    position: fixed;
}
